@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&family=Poppins:wght@400;700&display=swap');*{
    margin: 0;
    padding: 0;
}
a, a:visited, a:hover, a:active{
    text-decoration: none;
}
body{
    color: #9A9A9A;
    background-color: #232323;
    overflow: hidden;
    transition: 1s ease;
}
.day-mode{
    background-color: #EFEFEF;
    color: #232323;
}
button{
    width: 46px;
    height: 46px;
    border: #232323 5px solid ;
    border-radius: 50%;
    box-shadow: #232323 0px 0px 10px;
    transition: 1s ease;
    cursor: pointer;
}
button:hover{
    border: #EFEFEF 5px solid ;
    box-shadow: #EFEFEF 0px 0px 10px;
}
#moon-icon{
    width: 36px;
    height: 36px;
    position: absolute;
}
#sun-icon{
    width: 36px;
    height: 36px;
    position: relative;
}
body .theme-mode button #sun-icon{
    visibility: visible;
}
body .theme-mode button #moon-icon{
    visibility: hidden;
}
.day-mode .theme-mode button #moon-icon{
    visibility: visible;
}
.day-mode .theme-mode button #sun-icon{
    visibility: hidden;
}
.theme-mode{
    display: flex;
    position: fixed;
    bottom: 1%;
    right: 1%;
}
.bg-prop{
    display: flex;
    position: absolute;
    max-height: 100em;
    max-width: 200em;
    z-index: -1;
    justify-content: center;
    align-items: center;
}
.bg-text{
    font-family: 'Monoton';
    font-size: 650%;
    line-height: 1em;
    rotate: -45deg;
    margin-right: 11%;
    transition: 1s ease;
}
.bg-text:hover{
    color: #FF1188;
    transform: translateY(10em);
}
.background{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    position: absolute;
    width: fit-content;
    top: 20vh;
    font-family: 'Poppins';
    border: aliceblue 1px solid;
    box-shadow: #fff 0px 0px 0px;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
}
.container:hover{
    box-shadow: #fff 0px 0px 10px;
    backdrop-filter: blur(10px);
}
.prof-img{
    height: fit-content;
    width: fit-content;
    margin: 1em;
}
.prof-img img{
    width: 512px;
    border: #FF1188 3px solid;
    border-radius: 50%;
    box-shadow: #FF1188 0px 0px 0px;
    transition: 0.3s ease;
}
.prof-img img:hover{
    box-shadow: #FF1188 0px 0px 10px;
    transform: scale(1.05);
    border-radius: 1em;
}
.profile{
    margin: 1em;
    color: aliceblue;
}
.my-name{
    color: #FF1188;
    font-family: 'Audiowide';
    font-size: 4em;
    font-weight: bold;
    text-shadow: #232323 0.1em 0.1em 0.1em;
}
.my-info{
    margin-top: 1em;
}
.detail{
    color: #232323;
    font-size: 1.5em;
    font-weight: bold;
}
table{
    border: rgba(23, 23, 23, 0.7) 10px solid;
    border-radius: 10px;
}
th{
    color: #FF1188;
    border-bottom: #232323 1px solid;
    border-right: #232323 1px solid;
}
td{
    color: #232323;
    padding-left: 1em;
    padding-right: 1em;
    border-right: #232323 1px solid;
    border-bottom: #232323 1px solid;
}
#header{
    font-weight: bold;
}
.links{
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}
.page-container{
    display: flex;
    height: 28px;
    gap : 0.5em;
    border-radius: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    justify-content: center;
}
.videos{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 1em;
    bottom: 1em;
    transition: 0.7s ease;
}
iframe{
    width: 0;
    height: 0;
    opacity: 0;
    bottom: 0;
    border-radius: 1em;
    transition: 0.7s;
}
#videos-icon{
    display: flex;
    position: absolute;
    opacity: 1;
}
.videos:hover{
    height: 40em;
    width: 80em;
    bottom: 0;
    padding: 1em;
    margin-right: 5em;
    border: #fff 1px solid;
    box-shadow: #fff 0px 0px 10px;
    background-color: rgba(35, 35, 35, 0.9);
    backdrop-filter: blur(5px);
}
.videos:hover iframe{
    width: 80em;
    height: 40em;
    opacity: 1;
}
.videos:hover #videos-icon{
    display: none;
    opacity: 0;
}
.contact{
    display: flex;
    gap: 0.5em;
}
.platform{
    height: 26px;
    border: #fff 1px solid;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
    box-shadow: #fff 0px 0px 0px;
    transition: 0.5s ease;
}
.platform:hover{
    border: #FF1188 1px solid;
    background-color: #FF1188;
    box-shadow: #FF1188 0px 0px 5px;
}